<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      BEM-TEC | Análisis energético normativa mexicana
    </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">

    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />

    <!-- CSS con estilos de modal login y registro -->
    <link rel="stylesheet" type="text/css" href="assets/css/loginStyles.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="assets/css/pieChart.css" media="screen" />

    <!-- Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>

    <!-- Controller -->
    <script src="../controller/loginRegisterController.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
    </script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113013061-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113013061-1');
    </script>

  </head>
  <body ng-app="app" ng-controller="loginRegisterController as app">

  <!-- Header area wrapper starts -->
    <header id="header-wrap">

      <!-- Roof area starts -->

      <!-- Roof area Ends -->

      <!-- Header area starts -->
      <section id="header">

        <!-- Navbar Starts -->
        <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
          <div class="container">
            <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
              ☰
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
              <img src="images/BEMTEC-Logo-Light.png" alt="">
            </a>
            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
              <!-- Navbar Starts -->
              <ul class="nav nav-inline">
                <li class="nav-item dropdown" ng-if="app.sesion == 0">
                  <a class="nav-link" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 0">
                  <a class="nav-link" href="que_es.html" role="button" aria-haspopup="true" aria-expanded="false">¿Qué es?</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 0">
                  <a class="nav-link" href="aprende.html" role="button" aria-haspopup="true" aria-expanded="false">Aprende más</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 0">
                  <a class="nav-link" href="equipo.html" role="button" aria-haspopup="true" aria-expanded="false">Sobre el equipo</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 0">
                  <a class="nav-link" href="ayuda.html" role="button" aria-haspopup="true" aria-expanded="false">Ayuda</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 0">
                  <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#login-modal">Login</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 1">
                  <a class="nav-link active" href="calculadoraHome.html" role="button" aria-haspopup="true" aria-expanded="false">Calcular</a>
                </li>
                <li class="nav-item dropdown" ng-if="app.sesion == 1">
                  <a class="nav-link"href="#" ng-click="cierraSesion()" role="button" aria-haspopup="true" aria-expanded="false">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar Ends -->
      </section>
    <!-- Start Content -->
    </header>
    <!-- Header-wrap Section End -->

    <!-- Service Block-1 Section -->
    <section id="service-block-main" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <h5 style="font-weight: 550;"><u>CÁLCULO PRESUPUESTO ENERGÉTICO {{app.nombreNormaEnergetica}}</u></h5>
          <h2 class="section-title wow fadeIn animated" data-wow-delay=".2s">
           1.- Datos Generales
         </h2>
          <br/>
          <div class="col-sm-1 col-md-1"></div>
          <div class="col-sm-4 col-md-4">
            <center>
              <h5>
                1.1 Propietario
              </h5>
            </center>
            <br/>
            <input type="text" class="form-control separacion-input" id="nombre" placeholder="Nombre" required/>
            <input type="text" class="form-control separacion-input" id="direccion" placeholder="Dirección" required/>
            <input type="text" class="form-control separacion-input" id="ciudad" placeholder="Ciudad" required/>
          </div>
          <div class="col-sm-1 col-md-1"></div>
          <div class="col-sm-4 col-md-4">
            <center>
              <h5>
                1.2 Obra
              </h5>
            </center>
            <br/>
            <input type="text" class="form-control separacion-input" id="nombreEdificio" placeholder="Nombre del edificio" required/>
            <select id="estado" class="form-control separacion-input" ng-model="app.idEstado" ng-change="consultaMunicipio(app.idEstado)">
              <option selected value="">Selecciona un estado...</option>
              <option value="01">Aguascalientes</option>
              <option value="02">Baja California</option>
              <option value="03">Baja California Sur</option>
              <option value="04">Campeche</option>
              <option value="05">Coahuila</option>
              <option value="06">Colima</option>
              <option value="07">Chiapas</option>
              <option value="08">Chihuahua</option>
              <option value="09">Ciudad de México</option>
              <option value="10">Durango</option>
              <option value="11">Guanajuato</option>
              <option value="12">Guerrero</option>
              <option value="13">Hidalgo</option>
              <option value="14">Jalisco</option>
              <option value="15">México</option>
              <option value="16">Michoacán</option>
              <option value="17">Morelos</option>
              <option value="18">Nayarit</option>
              <option value="19">Nuevo León</option>
              <option value="20">Oaxaca</option>
              <option value="21">Puebla</option>
              <option value="22">Querétaro</option>
              <option value="23">Quintana Roo</option>
              <option value="24">San Luis Potosí</option>
              <option value="25">Sinaloa</option>
              <option value="26">Sonora</option>
              <option value="27">Tabasco</option>
              <option value="28">Tamaulipas</option>
              <option value="29">Tlaxcala</option>
              <option value="30">Veracruz</option>
              <option value="31">Yucatán</option>
              <option value="32">Zacatecas</option>
            </select>
            <select id="municipios" class="form-control separacion-input" ng-model="app.idMunicipio">
              <option selected value="">Selecciona el municipio...</option>
              <option ng-repeat="municipio in app.municipios" value="{{municipio.claveMunicipio}}">{{municipio.nombreMunicipio}}</option>
            </select>
            <input type="text" class="form-control separacion-input" id="latitud" placeholder="Latitud" required/>
            <br/>
            <button type="button" class="btn btn-success" style="float:right;">SIGUIENTE</button>
          </div>

        </div>

      </div><!-- Container Ends -->
    </section><!-- Service Main Section Ends -->

    <!-- INICIA # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Begin # DIV Form -->
              <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form">
                    <div class="modal-body">
                        <div style="padding-top: 10px; padding-bottom: 10px;">
                          <center>
                            <h3 style="color:#769e26"><a href="#" id="login_login_btn">Inicia Sesión</a> o <a href="#" id="login_register_btn">Regístrate aquí</a></h3>
                          </center>
                        </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Correo electrónico" required ng-model="usuario.usuario">
                        <input id="login_password" class="form-control" type="password" placeholder="Contraseña" required ng-model="usuario.password">
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="iniciaSesion(usuario)">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Olvidaste tu contraseña?</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                   <div class="modal-body">
                     <div style="padding-top: 10px; padding-bottom: 10px;">
                       <center>
                         <h3 style="color:#769e26"><a href="#">Recupera Contraseña</a></h3>
                       </center>
                     </div>
                       <input id="lost_email" class="form-control" type="text" placeholder="Correo electrónico" required ng-model="usuario.usuario">
                   </div>
                   <div class="modal-footer">
                       <div>
                         <center>
                           <button type="button" class="btn btn-success" ng-click="recuperaPassword(usuario.usuario)">Enviar</button>
                           <button type="button" id="lost_login_btn" class="btn btn-danger" onclick="$('#login-modal').modal('hide');">Cancelar</button>
                         </center>
                       </div>
                  </div>
              </form>
              <!-- End | Lost Password Form -->

              <!-- Begin | Register Form -->
              <form id="register-form" style="display:none;">
                  <div class="modal-body">
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                      <center>
                        <h3 style="color:#769e26"><a href="#" id="register_register_btn">Regístrate</a></h3>
                      </center>
                    </div>
                      <input id="register_email" class="form-control" type="text" placeholder="Correo electrónico" required ng-model="usuario.usuario">
                      <input id="register_password" class="form-control" type="password" placeholder="Contraseña" required ng-model="usuario.password">
                      <input id="register_confirm" class="form-control" type="password" placeholder="Confirmar contraseña" required>
                      <input id="register_institution" class="form-control" type="text" placeholder="Institución" required ng-model="usuario.institucion">
                  </div>
                  <div class="modal-footer">
                      <div>
                        <center>
                          <button type="button" class="btn btn-success" ng-click="registraUsuario(usuario)">Registrar</button>
                          <button type="button" id="register_login_btn" class="btn btn-danger" onclick="$('#login-modal').modal('hide');">Cancelar</button>
                        </center>
                      </div>
                  </div>
              </form>
              <!-- End | Register Form -->
          </div>
          <!-- End # DIV Form -->
        </div>
      </div>
    </div>
    <!-- END # MODAL LOGIN -->

    <!-- Footer Section -->
    <footer class="fixed-bottom">
      <!-- Copyright -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="copyright-text">
                ©  <script type="text/javascript">
						          document.write(new Date().getFullYear());
                   </script>
                  Todos los derechos reservados
              </p>
            </div>
            <div class="col-md-8 col-sm-8">
              <ul class="nav nav-inline pull-xs-left">
                <li class="nav-item">
                  <a class="nav-link active" href="https://novus.itesm.mx/"><img src="images/BEM-TEC-Logo-Novus.png" height="25" width="" alt="100"/></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://tec.mx/es"><img src="images/BEM-TEC-Logo-Tecnologico-de-monterrey.png" height="25" width="" alt="100"/></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://tec.mx/es/avisos-de-privacidad">Aviso de privacidad</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->

    </footer>
    <!-- Footer Section End-->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a>

    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- JavaScript & jQuery Plugins -->
    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="assets/js/owl.carousel.js"></script>

    <!-- WayPoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>
    <!--<script src="assets/js/color-switcher.js"></script>-->

    <!-- Script con funcionalidad de modal login y registro -->
    <script src="assets/js/login.js"></script>

    <script src="assets/js/pieChart.js"></script>

  </body>
</html>
